.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.details {
  flex: 1;
}

.map-container {
  flex: 2;
}

.map-frame {
  height: calc(100vh - 64px);
}

#map {
  height: 100%;
}

.add-button {
  position: fixed;
  top: 74px;
  left: 64px;
  z-index: 512;
}
