<div class="form-style">
  <h2 mat-dialog-title>Регистрация</h2>
  <mat-dialog-content [formGroup]="registrationForm">

    <mat-form-field class="full-width">
      <input matInput placeholder="Логин" formControlName="name">
    </mat-form-field>

    <div *ngIf="registrationForm.controls['name'].invalid && registrationForm.controls['name'].dirty">
      <span class="mat-error" *ngIf="registrationForm.controls['name'].errors?.required">
        Необходимо ввести логин.
      </span>
      <span  class="mat-error" *ngIf="registrationForm.controls['name'].errors?.maxlength">
        Логин не должен превышать {{registrationForm.controls['name'].errors?.maxlength.requiredLength}} символов.
      </span>
    </div>

    <div></div>

    <mat-form-field class="full-width">
      <input matInput placeholder="Электронная почта" formControlName="email">
    </mat-form-field>

    <div *ngIf="registrationForm.controls['email'].invalid && registrationForm.controls['email'].dirty">
      <span class="mat-error" *ngIf="registrationForm.controls['email'].errors?.email">
        Неверный формат адреса почты.
      </span>
      <span class="mat-error" *ngIf="registrationForm.controls['email'].errors?.maxlength">
        Адрес почты не должен превышать {{registrationForm.controls['email'].errors?.maxlength.requiredLength}} символов.
      </span>
    </div>

    <div></div>

    <mat-form-field class="full-width">
      <input type="password" matInput placeholder="Пароль" formControlName="password">
    </mat-form-field>

    <div *ngIf="registrationForm.controls['password'].invalid && registrationForm.controls['password'].dirty">
      <span class="mat-error" *ngIf="registrationForm.controls['password'].errors?.required">
        Необходимо ввести пароль.
      </span>
      <span class="mat-error" *ngIf="registrationForm.controls['password'].errors?.maxlength">
        Пароль не должен превышать {{registrationForm.controls['password'].errors?.maxlength.requiredLength}} символов.
      </span>
    </div>

    <div></div>

    <mat-form-field class="full-width">
      <input type="password" matInput placeholder="Подтверждение пароля" formControlName="password2">
    </mat-form-field>

    <div *ngIf="!confirmPass()">
      <span class="mat-error">
        Пароли должны совпадать.
      </span>
    </div>

    <div *ngIf="regError">
      <span  class="mat-error">
        Логин и/или почта уже заняты.
      </span>
    </div>

  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="signIn()" [disabled]="registrationForm.invalid || !confirmPass()">Зарегистрироваться</button>
    <button mat-raised-button (click)="close()">Отмена</button>
  </mat-dialog-actions>
</div>
