<div>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span class="title">Карта Арт-объектов</span>
      <div class="fill-space"></div>
      <div *ngIf="getCurrentUser()">
        <button *ngIf="getCurrentUser().userRole > 1" mat-button (click)="openAdminRequests()">Заявки</button>
        <button mat-button (click)="openUserDetails()">Привет, {{getCurrentUser().name}}!</button>
        <button mat-button (click)="logOut()">Выйти</button>
      </div>
      <div *ngIf="!getCurrentUser()">
        <button mat-button (click)="openAuthDialog()">Войти</button>
        <button mat-button (click)="openRegDialog()">Зарегистрироваться</button>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
